<div class="categories-shop">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img style="height:350px;" class="img-fluid" src="{{category.image.url}}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'category' category.pk %}">{{category.title}}</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>