<div class="top-search">
        <div class="container">
            <div class="input-group">
                <div class="search-product">
                            <form action="{% url 'index_search' %}" method="get" enctype="multipart/form-data">
                                <input name="q" class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                </div>
            </div>
        </div>
    </div>