{% load static %}

<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include 'layout/style.html' %}

    <!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

    {% include 'components/topbar.html' %}
    {% include 'components/navbar.html' %}
    {% block main %}
    {% endblock main %}
    {% include 'components/instagram.html' %}
    {% include 'components/footer.html' %}
    {% include 'components/copyright.html' %}

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


    {% include 'layout/script.html' %}
</body>

</html>