{% extends 'base.html' %}
{% load shop_tags %}
{% block title %}
Category Products
{% endblock title %}
{% block main %}
{% include 'shop/components/title.html' %}
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
            <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100 " style="height: 410px;" src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}"></div>
                    {% endfor %}
                </div>

        <!-- Chap/Ong tugmalar -->
        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>

        <!-- Indikatorlar -->
        <ol class="carousel-indicators">
            {% for image in product.images.all %}
            <li data-target="#carousel-example-1" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}">
                <img style="height: 80px;" class="d-block w-100 img-fluid" src="{{ image.image.url }}" alt="Thumbnail {{ forloop.counter }}">
            </li>
            {% endfor %}
        </ol>
    </div>
</div>

                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>{{product.title}}</h2>
                        <h5> <del>$ {{product.price}}</del> ${{product.sale}}</h5>
                        <p class="available-stock"><span> More than 20 available / <a href="#">8 sold </a></span><p>
						<h4>Short Description:</h4>
						<p>{{product.description}} </p>
						<ul>
							<li>
								<div class="form-group quantity-box">
									<label class="control-label">Quantity</label>
									<input class="form-control" value="0" min="0" max="20" type="number">
								</div>
							</li>
						</ul>
                    <form action="{% if request.user.is_authenticated %}{% url 'basket_add' product.pk %}{% else %}{% url 'signin' %}{% endif %}" method="post">
    					{% csrf_token %}
    					<div class="price-box-bar">
        					<div class="cart-and-bay-btn">
            					<a class="btn hvr-hover" href="#">Buy New</a>
            					<button type="submit" class="btn hvr-hover">Add to cart</button>
        					</div>
    					</div>
					</form>


						<div class="add-to-btn">
							<div class="add-comp">
								<a class="btn hvr-hover" href="#"><i class="fas fa-heart"></i> Add to wishlist</a>
								<a class="btn hvr-hover" href="#"><i class="fas fa-sync-alt"></i> Add to Compare</a>
							</div>
							<div class="share-bar">
								<a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
								<a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
								<a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								<a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
								<a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
							</div>
						</div>
                    </div>
                </div>
            </div>

			<div class="row my-5">
				<div class="card card-outline-secondary my-4">
					<div class="card-header">
						<h2>Product Reviews</h2>
					</div>
					<div class="card-body">
                        {% for comment in comments %}
						<div class="media mb-3">
                            <div class="mr-3">
                                <p class="mb-0">{{ comment.user.email }}</p>
                            </div>
                            <div class="media-body">
                                <p class="mb-1">{{ comment.title }}</p>
                                <small class="text-muted">{{ comment.created_at }}</small>
                            </div>
                        </div>

                        {% endfor %}
						<a href="#" class="btn hvr-hover">Leave a Review</a>
					</div>
				  </div>

            {% if request.user.is_authenticated %}
            <div class="card card-outline-secondary my-4 w-100">
                <div class="card-header w-100">
                <h2 class="mb-0">Add Comment</h2>
                </div>
                    <div class="card-body w-100">
                    <form class="w-100" action="{% url 'comment' product.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{comment_form.as_p}}
                        <button type="submit" class="btn btn-success">Send</button>
                    </form>
            </div>
            {% endif %}
</div>

            </div>

            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Featured Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                        {% for product in products %}
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img  style="height: 265px;" src="{{product.get_first_name}}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'detail' product.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            {% if request.user.is_authenticated %}
                                    {% get_likes request.user as likes %}
                                    <li>
                                        <a href="{% url 'like' product.pk  %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist">
                                            {% if product in likes %}
                                            <i class="fas fa-heart text-danger"></i>
                                            {% else %}
                                            <i class="far fa-heart"></i>
                                            {% endif %}
                                        </a>
                                    </li>
                                    {% else %}
                                    <li><a href="{% url 'signin'  %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    {% endif %}
                                        </ul>
                                        <a class="cart" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{product.title}}</h4>
                                    <h5> ${{product.price}}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
<!-- End Cart -->
{% endblock main %}

