{% load static %}
{% load shop_tags %}
{% get_categories as categories %}
<header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Categories</a>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
								<li><a href="{% url 'category' category.pk %}">{{category.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'likes' %}">LIKES</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">LIKES</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">

							<a href="#">
								<i class="fa fa-shopping-bag"></i>
								<span class="badge">3</span>
								<p>My Cart</p>
							</a>
						</li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="total">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'basket' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            {% else %}
                            <a href="{% url 'signin' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            {% endif %}
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>