
<div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
							<option>$ USD</option>
						</select>
                    </div>
                    <div class="right-phone-box">
                        <p>Call US : <a href="#"> +998 97 158 88 44</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'account' %}"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="{% url 'location' %}"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            {% else %}
                            <li><a href="{% url 'signin' %}"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="{% url 'signin' %}"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'signout' %}" class="btn btn-primary btn-block mb-2">Log Out</a>
                        {% else %}
                        <a href="{% url 'signup' %}" class="btn btn-primary btn-block mb-2">Sign Up</a>
                        <a href="{% url 'signin' %}" class="btn btn-secondary btn-block">Sign In</a>
                        {% endif %}
                    </div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>